{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    
   <div class="center formclass">
	  <!-- <form method="post" class="card" novalidate>
	  	
        <br>
		<div style="text-align: center;">
            {{form.as_p}}
        <input type="submit" value="Login" class="btn btn-primary full-width">
        </div>
		
		<hr>
	</form> -->
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
	    <h2 class="text-center">Log in to your account</h2>

        {% if form.non_field_errors %}
    <div class="your-custom-error-class" style="color: red; text-align: center;">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
    </div>
        {% endif %}

  <div class="form-group">
    <label for="user">Username</label>
    {% if form.username.errors %}
    {% for error in form.username.errors %}
    <p class="your-custom-error-class" style="color: red; text-align: left;">
        {{error}}</p>
        {% endfor %}
    {% endif %}
    <input style="width: 30%;" type="text" id="user" name="username" class="form-control"  placeholder="Enter Username">
  </div>

  <div class="form-group">
    <label for="password1">Password</label>
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    <p class="your-custom-error-class" style="color: red; text-align: left;">{{error}}</p>
        {% endfor %}
    {% endif %}
    <input style="width: 30%;" type="password" name="password" class="form-control" id="password1" placeholder="Password">
  </div>

  <button style="margin-left: 45%;" type="submit" class="btn btn-primary">Submit</button>

</form>
    <p style="text-align: center;">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

</body>
</html>
