{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <title>Registration</title>
</head>
<body>
    <div class="center formclass">
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
	    <h2 class="text-center">Register your account</h2>

  <div class="form-group">
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <label for="exampleInputEmail1">Username</label>
    <input style="width: 30%;" type="text" id="user" name="username" class="form-control"  autocomplete="off" placeholder="Enter Username">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input style="width: 30%;" type="password" name="password" class="form-control" id="exampleInputPassword1"  autocomplete="off" placeholder="Password">
  </div>

  <button style="margin-left: 45%;" type="submit" class="btn btn-primary">Register</button>

</form>
    <p style="text-align: center;">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
</div>
</body>
</html>